@font-face {
  font-family: "Gandom";
  src: local("Gandom"),
    url("./fonts/Gandom/Gandom-FD-WOL.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Samim";
  src: local("Samim"),
    url("./fonts/Samim/Samim-FD-WOL.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Samim-Bold";
  src: local("Samim"),
    url("./fonts/Samim/Samim-Bold-FD-WOL.ttf") format("truetype");
  font-weight: bold;
}

.header {
  height: 5vh;
  padding: 0px;
  justify-content: center;
  align-items: center;

}

.appTitle {
  font-family: "Samim-Bold";
  font-size: 30px;
  margin: 10px;
  vertical-align: middle;
  align-self: center;
  line-height: 5vh;
}

.App {
  text-align: right;
  margin: 20px;
  background-color: #aaa;
  min-height: calc(100vh - 40px);
  border-radius: 20px;
}

